html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: flex-end;
  /* background-image: url("background.png"); */
  background-color: #FAF4DE;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

/* form layout */
.form-layout {
  width: 500px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  /* background-color: #E8ECEF; */
  background-color: rgb(248, 187, 74);
  border: 3px solid #db603b;
  height: auto;
}

.form-layout .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-layout .form-control:focus {
  z-index: 2;
}

/* image layout */
.imageLogo {
  width: 275px;
  height: auto;
}
.resultImg {
  border: 3px solid #ceccc6;
  width: 224px;
  height: 224px;
}

.imageCenter {
  text-align: center;
}
