<!DOCTYPE html>
<html>

<head>
	<title>Hotdog Application</title>
	<!-- jQuery library that is needed to run .js file -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Bootstrap’s compiled CSS -a front-end component library -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	 <!-- Bootstrap’s compiled JS, Popper.js, and jQuery - front-end component library -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	 crossorigin="anonymous"></script>

	 <!-- linkage to static files -->
	<script type="text/javascript" src="fancy_static/con3.js"></script>
	<link rel="stylesheet" href="fancy_static/1test.css">

	<!-- JS code that handles 'more info' button -->
	<script>
		function myFunction() {
    if ('{{result}}' == 'not hotdog') {
        document.getElementById("Info").innerHTML = "The genus not-hotdog no good is a poor choice of a meal ";
		document.getElementById("Do").innerHTML = "It is recommended that you trash this poor meal and get yourself a hotdog. ";
	} else if ('{{result}}' == 'hotdog') {
        document.getElementById("Info").innerHTML = "The family of meals we call hotdog is the superior all-in-one dish.";
		document.getElementById("Do").innerHTML = "The hot dog is always correct.";
    }else {
        document.getElementById("Info").innerHTML = "System Error. Please contact admin.";
	}
}
</script>
</head>

<body class="container align-middle">
	<!-- result layout -->
	<div class=" form-layout text-white">

		<!-- logo -->
		<div class=" imageCenter">
			<img class="imageLogo" src="fancy_static/hotdog.gif">
		</div>
		<br> <br>
		<!-- title -->
		<h1 class="h2 mb-2 font-weight-normal">Your Results</h1>
		<!-- result -->
		<h1 class="h1 mb-1 font-weight-normal ">{{ result }}</h1>
		<!-- display uplaoded image -->
		<div class="imageCenter">
			<img class="resultImg" src={{url}} alt="Image" width="224" height="224">
		</div>
		<br><br>

		<!-- button for more information -->
		<div class="imageCenter">
		<button class="btn-primary" type="button" onclick="myFunction()">More Information</button>
		<br><br>
	</div>
		<!-- displays info on skin cancer types -->
		<p id="Info"></p>
		<p id="Do"></p>
		<p class="text-danger h3 mb-3" id="Warning"></p>
		<!-- return button -->
		<button class=" btn-lg btn-primary btn-block" onclick="location.href = '/';">Return to home</button>
	</div>
</body>
</html>
